[Unit]
Description=litecoinpool_exporter
After=init.service

[Service]
Type=simple
ExecStart=/usr/local/bin/litecoinpool_exporter -key-file /usr/local/etc/litecoinpool-api-key.txt
Restart=always
RestartSec=4s
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
